@import url('https://fonts.googleapis.com/css2?family=Roboto');

/*SETUP*/
* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


/*STRUCTURE*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto;
    margin: 0;
}

main {
    flex-grow: 1;
}

.container {
    width: 98%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}


/*COLORS AND TYPOGRAPHY*/
html {
    --dark-blue: #1f2937;
    --white: #f9faf8;
    --darker-white: #e5e7eb;
    --blue: #3882F6;
}

.big-text {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.2;
    color: var(--white);
}

.small-text {
    font-size: 1.1rem;
    color: var(--darker-white);
}


/*HEADER*/
header {
    background-color: var(--dark-blue);
}

header .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
}

.links {
    display: flex;
    gap: 16px;
}


/*HERO*/
.hero {
    background-color: var(--dark-blue);
}

.hero .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

picture {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-text h1, .hero-text p {
    margin: 0;
}

.btn-sign-up {
    border: none;
    border-radius: 8px;
    background-color: var(--blue);
    padding: 10px 30px;
}

.hero .btn-sign-up {
    margin-top: 20px;
}

@media (min-width: 700px) {
    .hero .container {
        flex-direction: row-reverse;
    }

    .hero .container > * {
        flex-basis: 100%;
    }
}

/*ITEMS*/
.items .container {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.info-title {
    text-align: center;
    font-size: 2.7rem;
    color: var(--dark-blue);
    margin: 0 0 40px 0;
}

.cards {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border:3px solid var(--blue);
    border-radius: 8px;
    width: 180px;
    height: 180px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.item .text {
    text-align: center;
    color: var(--dark-blue)
}

/*QUOTE*/
.quote {
    background-color: salmon;
}

.quote .container {
    padding: 10vh 30px;
}

.quote-text {
    font-size: 2rem;
    font-style: italic;
    margin: 0;
}

.author {
    margin: 0 15px 0 0;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 900;
}

/*SIGN UP*/
.sign-up .container {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.sign-up-box {
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
    border-radius: 15px;
    padding: 40px;
}

.sign-up-box-text h3, p {
    margin: 0;
}

.sign-up-box .btn-sign-up {
    border: 2px solid #E8E8E8;
}

/*FOOTER*/
footer {
    background-color: var(--dark-blue);
    padding-top: 30px;
    padding-bottom: 30px;
}

footer h2 {
    text-align: center;
}