@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 250px;
}

.logo, .hero-title {
    font-weight: 900;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

.links {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 0;
}

.hero {
    display: flex;
    padding: 130px 250px 150px 250px;
    gap: 48px;
}

.hero-left {
    flex: 1;
}

.hero-title {
    font-size: 48px;
    margin: 0;
}

.hero-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.btn-sign-up {
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 10px 30px;
}

a, .hero-description, .hero-right, .btn-sign-up, .text, .footer {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header, .hero {
    background-color: #1F2937;
}

.content {
    flex: 1;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 60px 0;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px; 
}

.item {
    max-width: 200px;
}

.card {
    border: 3px solid #3882F6;
    border-radius: 14px;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    text-align: center;
    margin-top: 10px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 400px;
}

.quote .the-quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 10px;
}

.author {
    text-align: right;
    margin: 0;  
    font-size: 25px;
    font-weight: 900;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 15px;
    margin: 100px 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 150px;
}

#last {
    border: 2px solid #E8E8E8;
}

.sign-up-text .first, .sign-up-text .second {
    color: #E5E7EB;
    margin: 0;
}

.sign-up-text .first {
    font-size: 30px;
    font-weight: 900;
}

.sign-up-text .second {
    font-size: 25px;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}